.style1{
    width: 25%;
    display: block;
    text-align: center;
    box-sizing: border-box;
    float: left;
    padding: 0 2em;
}

.style{
       width: 100%;
       display: block;
       text-align: left;
       float: left;
       padding: 2em;
}