.button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button4 {
  background-color: rgb(176, 253, 176);
  color: black;
  border: 2px solid #e7e7e7;
}

#site-footer {
  /* display: flex; */
  background-color: "#00000040";
}

.container {
  display: flex;
}

.footer-item {
  flex: .50;
}

.footer-links {
  /* margin-right: 20rem; */
  margin-top: 2rem;
  margin-left: 15rem;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 800px;
  min-height: 350px;
  /* box-shadow: 0 0 8px 8px white inset; */
  /* border: 1px solid black; */
}

div.slide-left {
  width: 50%;
  overflow: hidden;
}

div.slide-left {
  animation: slide-left 2s;
}

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    /* margin-left: 0%;
    width: 30%; */
  }
}

#slide {
  position: absolute;
  left: -800px;
  top: 50px;
  width: 500px;
  height: auto;
  /* background: blue; */
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 1.5s forwards;
  animation-delay: 1s;
}

@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}