.Bills{
    display: flexbox;
    width: 300px;
    margin:200px;
    padding-left:280px;

}
.main{
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 50px;
    border: 1px solid red;
    /* padding-right: 20rem;
   margin-left: 22rem; */
   background-color: white;
}           

.firstBox{
    flex: .8;
    border-right: 1px solid red;
}

.secondtBox{
    flex: .80;
}   


.thirdtBox{
    flex: .80;
    border-left: 1px solid red;
}